<nav role="navigation" aria-label="Main navigation">
  <ul class="navigation-list">
    <li class="navigation-list-item">          
      <a href="{{ site.baseurl }}/docs/api/command.cgi.html" class="navigation-list-link">command.cgi</a>
    </li>
    <li class="navigation-list-item">
      <a href="{{ site.baseurl }}/docs/api/config.cgi.html" class="navigation-list-link">config.cgi</a>
    </li>        
    <li class="navigation-list-item">          
      <a href="{{ site.baseurl }}/docs/api/thumbnail.cgi.html" class="navigation-list-link">thumbnail.cgi</a>
    </li>        
    <li class="navigation-list-item">            
      <a href="{{ site.baseurl }}/docs/api/upload.cgi.html" class="navigation-list-link">upload.cgi</a>
    </li>      
    <li class="navigation-list-item">            
      <a href="{{ site.baseurl }}/docs/api/CONFIG.html" class="navigation-list-link">CONFIG</a>
    </li>        
    <li class="navigation-list-item">            
      <a href="{{ site.baseurl }}/docs/api/utility.html" class="navigation-list-link">ブラウザユーティリティ</a>
    </li>             
    <li class="navigation-list-item">            
      <a href="{{ site.baseurl }}/docs/api/lua.html" class="navigation-list-link">Lua機能</a>
    </li>
    <li class="navigation-list-item active">            
      <a href="{{ site.baseurl }}/docs/api/isdio.html" class="navigation-list-link active">iSDIO</a>
    </li>
    <li>
      <br>
      <a href="{{ site.baseurl }}/docs/api/isdio">iSDIOトップに戻る</a>
    </li>
  </ul>
</nav>